@font-face {
  font-family: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');
}

@font-face {
  font-family: 'Cormorant', serif;
  src: url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
}

button:focus {
  outline: none;
}

.main-container {
  width: 90%;
}

.header {
  text-align: center;
  position: relative;
  z-index: 2;
}

.QnA {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 .5rem;
  font-family: 'Cormorant', serif;
  line-height: 1.33;
  font-weight: 600;
  color: rgba(12,11,8,.75);
}

.ask {
  display: flex;
  justify-content: flex-end;
}

.green-button {
  padding: 13px 15.5px;
  background-color: #225c4e;
  color: #fff;
  margin: 0 0 0 0;
  background-image: -webkit-linear-gradient(top,rgba(255,255,255,.1) 0,rgba(255,255,255,0) 100%);
  line-height: 28px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
  border: transparent;
  font: 16px "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 500;
  border-radius: 2px;
}

.green-button:hover {
  color: #225c4e;
  background-color: #c7dfd1;
}

.showing {
  padding: 10px;
}

.sort-container {
  display: flex;
  justify-content: flex-end;
  width: 250px;
  padding-right: 10px;
}

.arrow {
  margin-top: 7px;
  margin-left: 5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(65, 64, 64);
}

.sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sort-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-right: -20px;
  z-index: 3;
  height: 200px;
  width: 200px;
  background-color: white;
  border: 1px #b8b8b8 solid;
}

.sort-option {
  width: 200px;
  height: 100px;
  outline: none;
  border: none;
  font-size: 16px;
  text-align: left;
  margin: 0 0 0 0;
}

.sort-option:hover {
  box-shadow: none;
  color: #225c4e;
  background-color: #c7dfd1;
}

.bottomRow {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0 0 0;
  color: rgb(48, 46, 46);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.sortMe {
  width: 25%;
}

.sortBy {
  padding: 10px 5px 10px 5px;
  background-color: transparent;
  border: none;
  margin: 0 0 0 0;
  font-size: 16px;
  color:  rgba(12,11,8,.75);
}

.sortBy:hover {
  outline: 1px dotted darkgray;
  box-shadow: none;
}

.sortBy:focus {
  outline: none;
}

